/*a:hover, a:focus {
	color: #ff8100;
}*/

::selection {
	background: #ea009b; /* Safari */
	color: #FFF;
}
::-moz-selection {
 background: #ea009b; /* Firefox */
 color:#FFF;
}

#trueHeader #logo {
	background: url(../../images/colors/pink/logo.png) no-repeat;
}
.jetmenu > li:hover > a,
.jetmenu > li.active > a{
	color: #ea009b;
}
.acc-trigger a:hover {
	background-color: #ea009b;
}
.acc-trigger02.active a {
	color: #ea009b;
}
.acc-trigger02 a {
	background: url(../../images/colors/pink/accordion-ico2.png) no-repeat 20px 13px;
}
.acc-trigger02 a:hover, .acc-trigger02.active a, .acc-trigger02.active a:hover {
	color: #ea009b;
}
.feature_section1_bg strong span {
	color: #ea009b;
}
.top_section {
	background-color: #ea009b;
}
.top_social_links li:hover i {
	color: #000;
}

.tp-caption.modern_medium_fat {
	background: url(../../images/colors/pink/bigtext_pinkbg.png) left top no-repeat;
}
.testimonials_bg .social_links li:hover i {
	color: #ea009b;
}
#access .menu ul li a:hover {
	color: #ea009b;
}
#access .menu ul li a.active {
	color: #ea009b;
}
#access .menu ul li ul {
	border-top: 5px solid #ea009b;
}
#access .menu ul li ul li a:hover, #access .menu ul li ul li.active a, #access .menu ul li ul li a.selected {
	background: #ea009b;
}
.site_search_home #site-searchform #searchsubmit {
	background: #ea009b url(../../images/site-search-icon.png) no-repeat center 11px;
}
.features_icon {
	color: #fff;
	background: url(../../images/colors/pink/features_icon.html) left top no-repeat;
}
.button_slider {
	background-color: #ea009b;
}
.button_slider:hover {
	background-color: #fff;
}
.feature_section1_col .icon {
	border: 1px solid #ea009b;
}
.feature_section1_col:hover .icon {
	background-color: #ea009b;
}
.feature_section1_col .icon i {
	color: #ea009b;
}
.feature_section1_col:hover h3 {
	color: #ea009b;
}
.feature_section1_col:hover a {
	color: #ea009b;
}
.feature_section1_col3 a {
	color: #ea009b;
}
.feature_section1_col3 a:hover {
	color: #1d1d1b;
}
.feature_section1_col3 .icon_color {
	background: url(../images/features_icon_color.html) center top no-repeat;
}
.feature_section1_col3 .icon {
	background-color: #ea009b;
	line-height: 50px;
}
.feature_section1_col3 h3 {
	color: #ea009b;
}

.site_about_rightcol .box1 .readmorebut {
	background-color: #ea009b;
}
.site_about_bg {
	background-color:#ea009b;
}
.latest_projects .titlecl {
	color: #fff;
}
.latest_projects .titlecl strong {
	color: #fff;
}
.info_icons li a:hover {
	background-color: #ea009b;
}
.feature_section4 .right li i {
	color: #ea009b;
}
.feature_section4 a.buttom_btn:hover {
	color: #fff;
}
.feature_section4 a.buttom_btn {
	border: 3px solid #ea009b;
	color: #ea009b;
}
.feature_section4 a.buttom_btn i {
	color: #ea009b;
}
.feature_section4 a.buttom_btn:hover i {
	color: #fff;
}
.site_team_box .highli {
	color: #ea009b;
}
.site_team_box .highli_desig {
	color: #ea009b;
}
.tweet_highli {
	background-color: #ea009b;
}
.fb_highli {
	background-color: #ea009b;
}
.googleplus_highli {
	background-color: #ea009b;
}
.bottom_sec .latest_news li a {
	color: #ea009b;
}
.bottom_sec .latest_news li a.readmorebut {
	background-color: #ea009b;
}
.punchtext_bg {
	background: url(../../images/colors/pink/punch_textbg.png) center top no-repeat;
}
.faide_slider_02 #slider02 b {
	color: #ea009b;
}
.features_icon i {
	color: #fff;
}
.features_icon i {
	color: #fff;
	font-size: 96px;
}
.pricing_box li.title {
	color: #ea009b;
}
.pricing_box li.planfeatures i {
	color: #ea009b;
}
.pricing_box li a.button_01 {
	background-color: #ea009b;
}
.pricing_box li a.button_01:hover {
	background-color: #454545;
}
.pricing_box li.price_highlight {
	background-color: #ea009b;
}
html ul.tabs li.active, html ul.tabs li.active a, html ul.tabs li.active a:hover {
	border-top: 2px solid #ea009b;
}
.about_top {
	background-color: #ea009b;
}
.services_features_02 .services_features_02_list li.left {
	background-color: #ea009b;
}
.services_features_04 .services_features_04_list li.left {
	background-color: #ea009b;
}
.content_right p i {
	color: #ea009b;
}
.features_box i {
	color: #fff;
}
.features_box a:hover {
	color: #454545;
}
.more_but {
	background-color: #ea009b;
	border-bottom: 5px solid #5b3985;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
	background: transparent url(../../images/colors/pink/next-horizontal.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
	background: transparent url(../../images/colors/pink/prev-horizontal.png) no-repeat 0 0;
}
.punch_text {
	background-color: #ea009b;
}
.punch_text_02 {
	background-color: #e97702;
}
.punch_text .but_02 {
	background-color: #f9b027;
}
.punch_text .but_01 {
	color: #ea009b;
}
.sitefeatures_01 i {
	color: #ea009b;
}
.readmore_but {
	color: #ea009b;
}
.readmore_but:hover {
	color: #ea009b;
}
.readmore_but_03:hover {
	color: #ea009b;
}
h1 {
	background: url(../../images/colors/pink/title-h-line.html) no-repeat left bottom;
}
.sidebar_title {
	background: url(../../images/colors/pink/title-h-line2.html) no-repeat left 26px;
}
.latest_projects_list section .display .small-group div.small:hover .mag {
	background: #ea009b url(../../images/colors/pink/zoom-icon.png) 20px 20px no-repeat;
	background-size: 30%;
}
.punch_text_01 {
	background-color: #ea009b;
}
.features_box .featurb0x-circle {
	background-color: #ea009b;
}
.features_box .arrowdown {
	border-top: 10px solid #ea009b;
}
.features_box a {
	color: #ea009b;
}
.features_box_bg2 {
	background-color: #ea009b;
}
.features_box2 i {
	color: #ea009b;
}
.latest_posts_list section .display .small-group div.small:hover .hover {
	background: #ea009b;
	border: 5px solid #ea009b;
}
.clints_logo_bg .titlebg {
	background: url(../../images/colors/pink/clints_title_bg.html) left top no-repeat;
}
.latest_posts .jcarousel-skin-tango .jcarousel-next-horizontal {
	background: transparent url(../../images/colors/pink/next-horizontal.png) no-repeat 0 0;
}
.latest_posts .jcarousel-skin-tango .jcarousel-prev-horizontal {
	background: transparent url(../../images/colors/pink/prev-horizontal.png) no-repeat 0 0;
}
.sidebar_widget ul.arrows_list1 li a:hover {
	color: #ea009b;
}
.product_box li a.button_01 {
	background-color: #ea009b;
}
.product_box li a.button_01:hover {
	background-color: #454545;
}
.acc-trigger.active {
	background: #ea009b;
}
.acc-trigger a:hover, .acc-trigger.active a, .acc-trigger.active a:hover {
	color: #fff;
}
a.knowmore_but {
	color: #fff;
	background-color: #ea009b;
}
a.knowmore_but:hover {
	color: #fff;
	background-color: #454545;
}
a.bold {
	background: #ea009b;
}
a.bold:hover {
	color: #fff;
	background-color: #1d1d1b;
}
.sitefeatures_03 .left h2 {
	color: #ea009b;
}
.sitefeatures_03 .right h2 {
	color: #ea009b;
}
.readmore_but_02:hover {
	color: #ea009b;
}
.page_title .pagenation {
	color: #ea009b;
}
.page_title .pagenation a:hover {
	color: #ea009b;
}
.big_text1 i {
	color: #ea009b;
}
.lirc_section li.left {
	background-color: #ea009b;
}
.content_right_list li.left {
	background-color: #ea009b;
}
.punchline_text_box {
	border-left: 5px solid #ea009b;
}
.lirt_section li strong {
	color: #ea009b;
}
.error_pagenotfound i {
	color: #ea009b;
}
.punch_text.nobgcolor {
	color: #ea009b;
}
blockquote {
	border-left: 5px solid #ea009b;
}
.small_social_links li i {
	color: #ea009b;
}
.blog_post h3 a {
	color: #ea009b;
}
.blog_post a.date strong {
	color: #ea009b;
}
.blog_post a.date i {
	background-color: #ea009b;
}
#site-searchform #searchsubmit {
	background: #454545 url(../../images/site-search-icon.png) no-repeat center 11px;
}
.content_fullwidth html ul.tabs-two li.active, html .content_fullwidth ul.tabs-two li.active a, html .content_fullwidth ul.tabs-two li.active a:hover {
	color: #ea009b;
}
.sidebar_widget ul.tabs li.active, html .sidebar_widget ul.tabs li.active a, html .sidebar_widget ul.tabs li.active a:hover {
	border-top: 1px solid #ea009b;
}
.recent_posts_list li a:hover {
	color: #ea009b;
}
.tags li a:hover {
	background-color: #ea009b;
	color: #fff;
}
.sharepost li {
	background-color: #ea009b;
}
.address-info a {
	color: #ea009b;
}
.nivo-caption {
	border-left: 5px solid #ea009b;
}
.nivo-caption .big-text {
	color: #ea009b;
}
.sliderContainer .slideSelectors .selected {
	background: #ea009b;
}
.testimonial_section li.right a {
	color: #ea009b;
}
.pricing-tables-helight .title {
	background-color: #ff8d00;
	border-top: 3px solid #ff6e00;
	border-bottom: 1px solid #ffa600;
}
.pricing-tables-helight .price {
	background-color: #ff9900;
}
.button.small.colorchan {
	color: #fff;
	background-color: #ff9900;
}
.readmore_but_04 {
	background-color: #ea009b;
	border-bottom: 5px solid #5b3985;
}
.bg_section h2 span {
	color: #ea009b;
}
