.jcarousel-skin-tango .jcarousel-container {
	padding: 0px;
	margin: 0px 0px 0px 0px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 100%;
	text-align: left;
	float: left;
}
.jcarousel-skin-tango .jcarousel-container-horizontal strong {
	font-size: 14px;
	color: #454545;
	display: block;
	margin-top: 7px;
	font-family: 'Open Sans';
	font-weight: 600;
	margin-left: 20px;
}
.jcarousel-skin-tango .jcarousel-container-horizontal i {
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: 600;
	color: #999;
	display: block;
	margin-left: 20px;
	margin-top: -3px;
	font-style: normal;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 100%;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 275px;
    height: 320px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 18px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: -43px;
    right: 7px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: -43px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}


.latest_posts .jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 200px;
    right: -110px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.latest_posts .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.latest_posts .jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.latest_posts .jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.latest_posts .jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.latest_posts .jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.latest_posts .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.latest_posts .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.latest_posts .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.latest_posts .jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 200px;
    right: -70px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.latest_posts .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

.latest_posts .jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.latest_posts .jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.latest_posts .jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.latest_posts .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.latest_posts .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.latest_posts .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.latest_posts .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/*clints logo section*/

.clints_logo_bg .jcarousel-skin-tango .jcarousel-item {
    width: 190px;
    height: 50px;
}


.clints_logo_bg .jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 10px;
    right: -50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent url(next-horizontal2.png) no-repeat 0 0;
}

.clints_logo_bg .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal2.png);
}

.clints_logo_bg .jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.clints_logo_bg .jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.clints_logo_bg .jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.clints_logo_bg .jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.clints_logo_bg .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.clints_logo_bg .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.clints_logo_bg .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.clints_logo_bg .jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 10px;
    left: -50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent url(prev-horizontal2.png) no-repeat 0 0;
}

.clints_logo_bg .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal2.png);
}

.clints_logo_bg .jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.clints_logo_bg .jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.clints_logo_bg .jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.clints_logo_bg .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.clints_logo_bg .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.clints_logo_bg .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.clints_logo_bg .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0px 0;
}

/*featured products*/

.featured_products .jcarousel-skin-tango .jcarousel-item {
    width: 217px;
    height: 240px;
}

.featured_products .jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 200px;
    left: 250px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent url(prev-horizontal2.png) no-repeat 0 0;
}


.featured_products .jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 200px;
    right: -96px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent url(next-horizontal2.png) no-repeat 0 0;
}






@media only screen and (min-width: 1000px) and (max-width: 1169px){

.latest_posts .jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 230px;
    right: -100px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}
.latest_posts .jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 230px;
    right: -60px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}


.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-next-horizontal {
    left: 167px;
}
.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-prev-horizontal {
    left: 137px;
}

.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-item {
    width: 190px;
    height: 190px;
}
.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-item img {
    width: 190px;
	height: 190px;
}
.portfolio_sidebar_widget .jcarousel-skin-tango .item {
	width:190px;
	height:190px;
}

.clints_logo_bg .jcarousel-skin-tango .jcarousel-next-horizontal {
    right: 0px;
	top:80px;

}

.clints_logo_bg .jcarousel-skin-tango .jcarousel-prev-horizontal {
        left: 667px;
	top:80px;

}
.clints_logo_bg .jcarousel-skin-tango .jcarousel-item {
    width: 180px;
}

.featured_products .jcarousel-skin-tango .jcarousel-prev-horizontal {
    top: 200px;
    left: 687px;

}

.featured_products .jcarousel-skin-tango .jcarousel-next-horizontal {

    top: 200px;
    right: -50px;

}

}


























@media only screen and (min-width: 1000px){}
@media only screen and (min-width: 768px) and (max-width: 999px){

.latest_posts .jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 230px;
    right: -100px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}
.latest_posts .jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 230px;
    right: -60px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}


.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-next-horizontal {
    left: 167px;
}
.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-prev-horizontal {
    left: 137px;
}

.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-item {
    width: 190px;
    height: 190px;
}
.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-item img {
    width: 190px;
	height: 190px;
}
.portfolio_sidebar_widget .jcarousel-skin-tango .item {
	width:190px;
	height:190px;
}

.clints_logo_bg .jcarousel-skin-tango .jcarousel-next-horizontal {
    right: 0px;
	top:80px;

}

.clints_logo_bg .jcarousel-skin-tango .jcarousel-prev-horizontal {
    left: 550px;
	top:80px;

}
.clints_logo_bg .jcarousel-skin-tango .jcarousel-item {
    width: 180px;
}

.featured_products .jcarousel-skin-tango .jcarousel-prev-horizontal {
    top: 200px;
    left: 687px;

}

.featured_products .jcarousel-skin-tango .jcarousel-next-horizontal {

    top: 200px;
    right: -50px;

}

}


@media only screen and (min-width: 480px) and (max-width: 767px){

.jcarousel-skin-tango .jcarousel-next-horizontal {
    top: -50px;
    left: 337px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    top: -50px;
    left: 385px;
}

.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-next-horizontal {
    left: 410px;
}
.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-prev-horizontal {
    left: 380px;
}



.latest_posts .jcarousel-skin-tango .jcarousel-next-horizontal {
   
    top: 260px;
    right: -100px;
  
}
.latest_posts .jcarousel-skin-tango .jcarousel-prev-horizontal {
 
    top: 260px;
    right: -60px;
}

.clints_logo_bg .jcarousel-skin-tango .jcarousel-next-horizontal {
    right: 0px;
	top:80px;

}

.clints_logo_bg .jcarousel-skin-tango .jcarousel-prev-horizontal {
    left: 300px;
	top:80px;

}
.featured_products .jcarousel-skin-tango .jcarousel-prev-horizontal {

    top: 200px;
    left: 350px;

}


.featured_products .jcarousel-skin-tango .jcarousel-next-horizontal {

    top: 200px;
    right: 0px;
}


}


@media only screen and (max-width: 479px){

.jcarousel-skin-tango .jcarousel-next-horizontal {
    top: -50px;
    left: 240px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    top: -50px;
    left: 245px;
}

.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-next-horizontal {
    left: 272px;
}
.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-prev-horizontal {
    left: 245px;
}

.latest_posts .jcarousel-skin-tango .jcarousel-next-horizontal {
   
    top: 260px;
    right: -100px;
  
}
.latest_posts .jcarousel-skin-tango .jcarousel-prev-horizontal {
 
    top: 260px;
    right: -60px;
}
	
.clints_logo_bg .jcarousel-skin-tango .jcarousel-next-horizontal {
    right: 0px;
	top:80px;

}

.clints_logo_bg .jcarousel-skin-tango .jcarousel-prev-horizontal {
    left: 200px;
	top:80px;

}	
	
.featured_products .jcarousel-skin-tango .jcarousel-prev-horizontal {

    top: 200px;
    left: 230px;

}


.featured_products .jcarousel-skin-tango .jcarousel-next-horizontal {

    top: 200px;
    right: 0px;
}
}
